{% extends 'email_template.html' %}

{% block body %}
  <h3>Dear {{ email }},</h3>

  <p>Thanks for checking in at our newest Global Rewards hotel location! We're very happy to see you enjoying your stay, and for your loyalty, we've awarded you with <b>{{ amount }} points</b>! Just our little way of saying thanks for being such a great member and loyal customer.

  <p>Did you know you can use your points to pay for your hotel incidentals? It's true. In fact, sometimes, you can actually save money by doing so — it's a great way to use up the points you've saved. Because you checked in, we've even got a special offer now: <a href="">you can buy points for 20% off</a>! Top up your balance, use some points to pay for your incidentals, and you'll be ready for your next visit! How awesome is that?</p>

  <p>
  Enjoy your stay,<br />
  Global Rewards Hotels<br />
  </p>
  
{% endblock %}
