<html>
<head>
	<title>Local Loyalty - Associate Your Account</title>
	<link rel="stylesheet" type="text/css" href="style/localloyalty-main.css">
</head>
<body>
	<div id="header"></div>
	<div id="nav"></div>
	<div id="container">
		<div id="body">
			{% from "_formhelpers.html" import render_field %}
			<form method="post" action="/signup">
  			<dl>
				{{ render_field(form.first_name) }}
				{{ render_field(form.last_name) }}
				{{ render_field(form.membership_number) }}
				{{ render_field(form.email) }}
  			</dl>
 			<p><input type="submit" value="Signup"></p>
			</form>
		</div>
	</div>
</body>
</html>

