{% extends "base.html" %}
{% block body %}
    <h1>Signup</h1>
    <p class="lead">
    	<p class="leader_text">Welcome to the Global Rewards social swap site! Here, you can associate your social networking accounts with your Global Rewards account to get exclusive promotions and offers whenever you interact with us out in the real world!</p>

    	<p class="leader_text">To start getting these deals now, simply provide your Global Rewards account information below. Once you've provided the correct info, we'll redirect you to foursquare, where you can log in and associate your accounts.</p>

    	<p class="leader_text">Let's get started. First, hit us up with your account info:</p>
    	
    	{% from "_formhelpers.html" import render_field %}
		<form method="post" action="/signup">
		<dl>
			{{ render_field(form.first_name) }}
			{{ render_field(form.last_name) }}
			{{ render_field(form.membership_number) }}
			{{ render_field(form.email) }}
		</dl>
		<p><input type="submit" value="Signup"></p>
		</form>

    </p>
{% endblock %}